<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

    <body>
        <form action="/madlib">

         <input type="radio" name="play" value="color" id="color-input" />
         <lable for="color-input">color</lable>

         <input type="radio" name="play" value="noun" id="noun-input" />
         <lable for="noun-input">noun</lable>
        
         <input type="radio" name="play" value="person" id="person-input" />
         <lable for="person-input">person</lable>

         <input type="radio" name="play" value="adjjective" id="adjective-input" />
         <lable for="adjective-input">adjective</lable>
    
    </body>
</html>