<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
    <p>There once was a {{ color }} {{ noun }} sitting in the Devmountain Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way.</p>
  <body>

  </body>
</html>